<%- include("../partials/head") %> <%- include("../partials/header") %>

<main class="marketplace">
  <article class="productGrid">
    <% for (let producto of product) {%>
    <div class="containerProduct">
      <article class="product">
        <figure>
          <img src="/img/<%=producto.img%>" alt="" />
        </figure>
        <div class="productDetail">
          <h3><%= producto.name %></h3>
          <p class="producto-description"><%= producto.description %></p>
          <h4 class="price"><%= producto.price %></h4>
        </div>
      </article>
    </div>
    <% } %>
  </article>
</main>

<%- include("../partials/footer") %>
