<%- include("partials/head") %>
  <%- include("partials/header") %>

    <main>


    

      <section class="product-list">
        <div class="product-section-title">
          <h2>New on sale</h2>
        </div>
        <% for (let producto of newOnSale) {%>
          <div class="containerProduct">
            <article class="product">
              <figure>
                <img src="/img/<%=producto.img%>" alt="" />
              </figure>
              <div class="productDetail">
                <h3>
                  <%= producto.name %>
                </h3>
                <p class="producto-description">
                  <%= producto.description %>
                </p>
                <h4 class="price">
                  <%= producto.price %>
                </h4>
              </div>
            </article>
          </div>
          <% } %>
      </section>      
      <a href="/grupo_01_DHaunters/views/marketplace.html">
        <div class="fullCatalogue-icon">
          <h3>~ full catalogue ~</h3>
          <i class="fa-regular fa-newspaper"></i>
        </div>
      </a>
    </main>

    <%- include("partials/footer") %>