<%- include("partials/head") %>
<%- include("partials/header") %>


<main>
	<section class="carousel-container">
  <% if (locals.banners && banners.length > 0) { %>
    <article class="carousel__slide">
      <img 
      src="/img/banners/<%= banners[bannersLength - 1].image %>" 
      alt="<%= banners[bannersLength - 1].title %>"
      class="carousel__slide_image"
      id="carousel__slide_image-last-clone">
    <% for (let banner of banners) { %>
      <img 
      src="/img/banners/<%= banner.image %>" 
      alt="<%= banner.title %>"
      class="carousel__slide_image"
      id="carousel__slide_image-<%= banner.id %>"
      >
    <% } %>  
      <img 
      src="/img/banners/<%= banners[0].image %>" 
      alt="<%= banners[0].title %>"
      class="carousel__slide_image"
      id="carousel__slide_image-first-clone">
    </article>
    <article class="button_holder">
      <div 
      class="carousel__button carousel__button_left" 
      id="carousel__button_prev">
        &lt;
      </div>
    
      <div 
      class="carousel__button carousel__button_right" 
      id="carousel__button_next">
        &gt;
      </div>
    </article>
    <ul class="carousel__controls" >
    <% for (let i = 0; i < banners.length; i++) {
      %>
      <li
      name="carousel__dots" 
      class="carousel__dot"
      id="carousel__dot-<%= banners[i].id %>"
      value="<%= banners[i].id %>"
      index = "<%= i  %>"
      />
  <% } %>
   </ul>
  <% } else { %>
    <p>
      You came too early, we will have promotions later!
    </p>
  <% } %> 
  </section>

	<section class="product-list">
		<div class="product-section-title">
			<h2>New on sale</h2>
		</div>

		<% for (let product of products) {%>

			<% if(product.tier_id==5 ){%>

				<div class="container-product">
					<a href="/store/<%=product.name%>">

						<article class="product">
							<figure>
								<img src="/img/products/<%=product.image%>" alt="" />
							</figure>
							<div class="productDetail">
								<h3>
									<%= product.name %>
								</h3>
								<p class="product-description">
									<%= product.universe %>
								</p>
								<h4 class="price">
									<%= product.price %>
								</h4>
							</div>
						</article>
					</a>
				</div>
				<% } %>

				<% } %>
	</section>

	<section class="product-list">
		<div class="product-section-title">
			<h2>Productos de categoria comun</h2>
		</div>

	<% for (let product of products) {%>

		<% if(product.tier_id==1 ){%>

		<div class="container-product">
			<a href="/store/<%=product.name%>">

				<article class="product">
					<figure>
						<img src="/img/products/<%=product.image%>"  alt="" />
					</figure>
					<div class="productDetail">
						<h3>
							<%= product.name %>
						</h3>
						<p class="product-description">
							<%= product.universe %>
						</p>
						<h4 class="price">
							<%= product.price %>
						</h4>
					</div>
				</article>
			</a>
		</div>
		<% } %>

		<% } %>
	</section>
	<section class="product-list">
		<div class="product-section-title">
			<h2>Productos de categoria rara</h2>
		</div>

		<% for (let product of products) {%>

			<% if(product.tier_id==3 ){%>

				<div class="container-product">
					<a href="/store/<%=product.name%>">

						<article class="product">
							<figure>
								<img src="/img/products/<%=product.image%>"  alt="" />
							</figure>
							<div class="productDetail">
								<h3>
									<%= product.name %>
								</h3>
								<p class="product-description">
									<%= product.universe %>
								</p>
								<h4 class="price">
									<%= product.price %>
								</h4>
							</div>
						</article>
					</a>
				</div>
				<% } %>

				<% } %>
	</section>
	<section class="product-list">
		<div class="product-section-title">
			<h2>Productos de categoria muy rara</h2>
		</div>
		<% for (let product of products) {%>

			<% if(product.tier_id==4 ){%>

				<div class="container-product">
					<a href="/store/<%=product.name%>">

						<article class="product">
							<figure>
								<img src="/img/products/<%=product.image%>" alt="" />
							</figure>
							<div class="productDetail">
								<h3>
									<%= product.name %>
								</h3>
								<p class="product-description">
									<%= product.universe %>
								</p>
								<h4 class="price">
									<%= product.price %>
								</h4>
							</div>
						</article>
					</a>
				</div>
				<% } %>

				<% } %>
	</section>
	<a href="/store/">
		<div class="fullCatalogue-icon">
			<h3>~ full catalogue ~</h3>
			<i class="fa-regular fa-newspaper"></i>
		</div>
	</a>
</main>

<%- include("partials/footer") %>