<%- include("partials/head") %>
<%- include("partials/header") %>


<main>
	<section class="container--slider">
		<% if (banners) { %>
			<article class="slider" style="width:<%= bannersLength * 100 %>%">
				<% for (const banner of banners) { %>
					<div class="slider__section">
						<img 
						src="<%= banner.image %>" 
						alt="<%= banner.title %>"
						id="bannerImg<%= banner.banner_id %>" 
						class="slider__img"
						style="width: ;">
					</div>
				<% } %> 
				</article>
				<article class="slider__btn" id="sliderBtnLeft"></article>
				<article class="slider__btn" id="sliderBtnRight"></article>
			</article>
			<ul class="slider__dots">
			<% for (let banner of banners) { %>
				<li></li>
			<% } %>  
			</ul>
		<% } else { %>
		<p>¡Próximamente habrá promociones!</p>
		<% } %> 
	</section>



	<section class="product-list">
		<div class="product-section-title">
			<h2>New on sale</h2>
		</div>

		<% for (let product of products) {%>


			<% if(product.tier_id==5 ){%>




				<div class="containerProduct">
					<a href="/store/productDetails/<%=product.id%>">

						<article class="product">
							<figure>
								<img src="/img/products/<%=product.image%>" alt="" />
							</figure>
							<div class="productDetail">
								<h3>
									<%= product.name %>
								</h3>
								<p class="product-description">
									<%= product.universe %>
								</p>
								<h4 class="price">
									<%= product.price %>
								</h4>
							</div>
						</article>
					</a>
				</div>
				<% } %>

				<% } %>
	</section>

	<section class="product-list">
		<div class="product-section-title">
			<h2>Productos de categoria comun</h2>
		</div>

	<% for (let product of products) {%>

		<% if(product.tier_id==1 ){%>

		<div class="containerProduct">
			<a href="/store/productDetails/<%=product.id%>">

				<article class="product">
					<figure>
						<img src="/img/products/<%=product.image%>"  alt="" />
					</figure>
					<div class="productDetail">
						<h3>
							<%= product.name %>
						</h3>
						<p class="product-description">
							<%= product.universe %>
						</p>
						<h4 class="price">
							<%= product.price %>
						</h4>
					</div>
				</article>
			</a>
		</div>
		<% } %>

		<% } %>
	</section>
	<section class="product-list">
		<div class="product-section-title">
			<h2>Productos de categoria rara</h2>
		</div>

		<% for (let product of products) {%>

			<% if(product.tier_id==3 ){%>

				<div class="containerProduct">
					<a href="/store/productDetails/<%=product.id%>">

						<article class="product">
							<figure>
								<img src="/img/products/<%=product.image%>"  alt="" />
							</figure>
							<div class="productDetail">
								<h3>
									<%= product.name %>
								</h3>
								<p class="product-description">
									<%= product.universe %>
								</p>
								<h4 class="price">
									<%= product.price %>
								</h4>
							</div>
						</article>
					</a>
				</div>
				<% } %>

				<% } %>
	</section>
	<section class="product-list">
		<div class="product-section-title">
			<h2>Productos de categoria muy rara</h2>
		</div>
		<% for (let product of products) {%>

			<% if(product.tier_id==4 ){%>

				<div class="containerProduct">
					<a href="/store/productDetails/<%=product.id%>">

						<article class="product">
							<figure>
								<img src="/img/products/<%=product.image%>" alt="" />
							</figure>
							<div class="productDetail">
								<h3>
									<%= product.name %>
								</h3>
								<p class="product-description">
									<%= product.universe %>
								</p>
								<h4 class="price">
									<%= product.price %>
								</h4>
							</div>
						</article>
					</a>
				</div>
				<% } %>

				<% } %>
	</section>
	<a href="/store/">
		<div class="fullCatalogue-icon">
			<h3>~ full catalogue ~</h3>
			<i class="fa-regular fa-newspaper"></i>
		</div>
	</a>
</main>

<%- include("partials/footer") %>