<%- include("../partials/head") %> <%- include("../partials/header") %>

<main class="card">
  <section class="card-1">
    <div class="product">
      <figure>
        <img src="/img/products/<%=product.image%>"   alt="" />
      </figure>
      <div class="producDetails">
        <a href=""><%= product.name %> </a>
        <p><%= product.short_desc %></p>
        <p><%= product.universe %></p>
      </div>
    </div>
    <div class="buy">
      
      <div class="buy-option">
        <h5><%= product.price %></h5>
        <select name="" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="button">
        <button>Comprar</button>
        <% if (locals.admin && locals.admin === true) { %>
          <a href="/store/<%= product.name %>/edit"> Editar </a>
          <a href="/store/<%= product.name %>/delete"> Eliminar </a>
        <% } %>
      </div>
      
    </div>
  </section>
  <section>
    <div class="description">
      <p><%= product.long_desc %></p>
    </div>
  </section>
</main>

<%- include("../partials/footer") %>
