<%- include("../partials/head") %>
<%- include("../partials/header") %>

<main>
    <section>
        <article class="cartHeader">
            <span>Productos</span>
            <span id="headerRemove">Vaciar Carrito</span>
        </article>
        <hr>
        <article class="cartItems">
            <% product.forEach(product => { %>
             <div class="cartItem">
                <a href="/products/product/<%= product.id %>">
                    <figure>
                        <img src="/img/<%= product.img %> " alt="<%= product.title %> ">
                    </figure>
                </a>
                <div class="itemDesc">
                    <div class="detailLeft">
                        <a href="/products/product/<%= product.id %>">
                            <h4> <%= product.title %> </h4>
                            <h5> <%= product.serial %> </h5>
                        </a>
                    </div>
                    <div class="counter">
                        <span class="btn">-</span>
                        <span class="counter">2</span>
                        <span class="btn">+</span>
                    </div>
                    <div class="detailRight">
                        <h6> USD <%= product.price %> </h6>
                        <p class="later">Comprar más tarde</p>
                        <p class="productRemove">Quitar del carrito</p>
                    </div>
                </div>
             </div>
            <% }) %>
        </article>
        <hr>
        <article class="checkout">
            <div class="total">
                <div class="subtotal">
                    <p>Subtotal</p>
                    <h6>Items <%= lenght %></h6>
                </div>
                <p class="totalAmount">USD 155</p>
                <button type="submit">Comprar</button>
            </div>
        </article>
    </section>
</main>
<%- include("../partials/footer") %>