<%- include("../partials/head") %>
  <header>
    <div class="contenedor">
      <div class="logo">
        <a href="/">
          <img src="/img/ghost-logo.png" alt="logo">
        </a>
      </div>
      <p class="login"><a href="/user/login">Iniciar sesión</a></p>
    </div>
  </header>
  <main>
    <div class="icono"><i class="fa-solid fa-circle-user"></i></div>
    <form action="/user/register" method="POST" enctype="multipart/form-data">
      <h3>Información del usuario</h3>

      <div class="datos-u">   
      <label for="image" 
      class="<%= locals.errors && errors.image ? "drawer-red":"drawer" %> ">   
      <span id="info">Selecciona una foto de perfil</span>
      </label>
      <input id="image" 
      name="image" 
       onchange='cambiar()' 
       type="file"  
       style='display: none;'
      /> 
      <div class="error-msg oculto image">El archivo no es valido </div>

        <% if (locals.errors && errors.image) { %>
         <div class="error-msg">
           <%= errors.image.msg %>           
        </div> 
        <% } %>

        <input type="text" 
        name="first_name" 
        placeholder="Nombres" 
        id="first_name" 
        class="<%= locals.errors && errors.first_name ? "drawer-red":"drawer" %> "  
        
        
       
        <% if (locals.old && old.first_name ) { %>
         value="<%= old.first_name  %>" 
        <% } %>
        >
  <!--el if de locals.old es para rescatar los datos validos del form -->
        
  
  <!--if con donde vienen los mensajes de error de parte del front -->
  <div class="error-msg oculto first_name">El nombre no es valido </div>


  <!--if con donde vienen los mensajes de error -->

        <% if (locals.errors && errors.first_name) { %>
         <div class="error-msg">
           <%= errors.first_name.msg %>           
        </div> 
        <% } %>

        <input type="text" 
        name="last_name" 
        placeholder="Apellidos" 
        id="last_name" 
        class="<%= locals.errors && errors.last_name ? "drawer-red":"drawer" %>"  
        <% if (locals.old && old.last_name ) { %>
          value="<%= old.last_name  %>" 
         <% } %> 
         />
  <!--el if de locals.old es para rescatar los datos validos del form -->

  <!--div donde vienen los mensajes de error de parte del front -->
  <div class="error-msg oculto last_name">El apellido no es valido </div>
        
  <!--if con donde vienen los mensajes de error -->
        <% if (locals.errors && errors.last_name) { %>
          <div class="error-msg">
            <%= errors.last_name.msg %>           
         </div> 
         <% } %>

        <input type="text" 
        name="user_name" 
        placeholder="Nombre de usuario" 
        id="user_name" 
        class="<%= locals.errors && errors.user_name ? "drawer-red":"drawer"%>" 
        <% if (locals.old && old.user_name ) { %>
          value="<%= old.user_name  %>" 
         <% } %>
         />
    <!--el if de locals.old es para rescatar los datos validos del form -->
    <!--div donde vienen los mensajes de error de parte del front -->
    <div class="error-msg oculto user_name">El nombre de usuario no es valido </div>    
    <!--if con donde vienen los mensajes de error -->
          <% if (locals.errors && errors.user_name) { %>
            <div class="error-msg">
              <%= errors.user_name.msg %>           
           </div> 
           <% } %>

        <input type="text" 
        name="email" 
        placeholder="E-mail" 
        id="email" 
        class="<%= locals.errors && errors.email ? "drawer-red":"drawer" %>" 
        <% if (locals.old && old.email) { %>
          value="<%= old.email  %>" 
         <% } %>
         />
    <!--el if de locals.old es para rescatar los datos validos del form -->
    <!--div donde vienen los mensajes de error de parte del front -->
    <div class="error-msg oculto email">El email no es valido </div>
        
    <!--if con donde vienen los mensajes de error -->
        <% if (locals.errors && errors.email) { %>
          <div class="error-msg">
            <%= errors.email.msg %>           
         </div> 
         <% } %>

        <input type="text" 
        name="adress" 
        placeholder="Dirección" 
        id="adress" 
        class="<%= locals.errors && errors.adress? "drawer-red":"drawer" %> " 
        <% if (locals.old && old.adress ) { %>
          value="<%= old.adress  %>" 
         <% } %> 
        />
    <!--el if de locals.old es para rescatar los datos validos del form -->
    <!--div donde vienen los mensajes de error de parte del front -->
    <div class="error-msg oculto adress">La direccion no es valida </div>
    <!--if con donde vienen los mensajes de error -->
        <% if (locals.errors && errors.adress) { %>
          <div class="error-msg">
            <%= errors.adress.msg %>           
         </div> 
         <% } %>

        <input type="password" 
        name="password" 
        placeholder="Contraseña" 
        id="password" 
        class="<%= locals.errors && errors.password ? "drawer-red":"drawer" %>"  
        />
      <div class="error-msg oculto password">La contraseña no es valida</div>
        
      <!--if con donde vienen los mensajes de error -->

        <% if (locals.errors && errors.password) { %>
          <div class="error-msg">
            <%= errors.password.msg %>           
         </div> 
         <% } %>
        <input type="password" 
        name="checkPassword" 
        id="checkPassword" 
        placeholder="Confirmar contraseña" 
        class="<%= locals.errors && errors.checkPassword ? "drawer-red":"drawer" %>" 
          />
      <div class="error-msg oculto checkPassword">Las contraseñas no coinciden</div>
      <!--if con donde vienen los mensajes de error -->
          <% if (locals.errors && errors.checkPassword) { %>
            <div class="error-msg">
              <%= errors.checkPassword.msg %>           
           </div> 
           <% } %>
     </div>

      <div class="error-msg oculto" id="error-msg">Debes completar todos los campos y aceptar terminos y condiciones</div>

      <div class="checkbox">
        <label for="tyc"><input type="checkbox" 
          name="tyc" 
          id="tyc" 
          value=1 />
          Acepto términos y condiciones</label>
            
        

        <label for="accept_send"><input type="checkbox" 
          name="accept_send" 
          id="accept_send" 
          value="1" />
          Quiero recibir promociones en mi correo</label>
      </div>
      <!--if con donde vienen los mensajes de error -->
            <% if (locals.errors && errors.tyc) { %>
              <div class="error-tyc">
                <%= errors.tyc.msg %>           
             </div> 
             <% } %>
  
      <button type="submit" value="submit" class="registrarse">
        <a href="/"></a>Registrarse
      </button>
    
    </form>
  </main>
  </body>
  <script>
    function cambiar(){
    var pdrs = document.getElementById('image').files[0].name;
    document.getElementById('info').innerHTML = pdrs;
}
  </script>

  <script src="/js/signUpValidation.js"></script>
  </html>